/*general*/

html,body
{
    margin:0;
    padding:0;
   
}
.margin0
{
    margin-left: 0;
    margin-right: 0;
}

.rotate-center 
{
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}



/* Safari, Opera, Chrome */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*autres navigateur*/
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*header*/

.container
{
    width:100%;
    height:100%;
    margin-top: 2%;
    
}


a:hover
{
 background-color:darkgray;  
}

.effet:hover
{
    transform:scale(1.1);
}


/*body*/

 
.row
{
    background-color: darkgray;
}
/*text defilement*/
/*jvscript*/
  
#auto_text
{
    font-size: 1.5em;
    margin: 0 auto;
    width: fit-content;
    border-right: 0.09em solid black;
    letter-spacing: 0.2em;
    animation: blink 0.99s step-end infinite;
}


@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

h2
{
  color:goldenrod;
  
}


.flip-box 
{
  background-color: transparent;
  width: 250px;
  height: 290px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.flip-box-inner 
{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: white;
  color:black;
  transform: rotateY(180deg);
}


.carEtage
{
    width:20%;
    
}
.Vignette
{
    width:30%;
}


.row
{
    background-color: darkgray;
    height: auto;
    width: auto;
}
.logo_mode
{
    text-align: center;
}

/*RESPONSIVE*/

@media screen and (max-width:1024px)
{
.section1
{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
     
}

}
 .flip
 {
   display: flex;
   justify-content: space-around;
 }

/*footer*/
h4
{
  margin-top: 4%;
  margin-bottom: 3%;

}
 /*page loisir*/
/*gallery loisir*/


.gallery2
{
  display: flex;
  justify-content: space-around;

}
img:hover 
{
  box-shadow: 0 0 2px 2px rgba(12, 12, 12, 0.5);

}

.footer
{
  flex-direction: row;
  width: auto;
  height: 20%;
}

.container-fluid
{
  height: 10%;
}