/* GENERAL */

html,body
{
    margin:0;
    padding:0;
}
.margin0
{
    margin-left: 0;
    margin-right: 0;
}
.rotate-center 
{
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

h3
{
color: goldenrod;
}
/* Safari, Opera, Chrome */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*autres navigateur*/
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.h4
{
    text-align: center;
}


/*header*/

.container-fluid
{
    max-width : 100%;
    height: auto;
    width:100%;
   
}
 
a:hover
{
 background-color:darkgray;  
}

.effet:hover
{
    transform:scale(1.1);
}


/*body*/


.link
{
color:white; 

}

.carEtage
{
    width:30%;
    
}
.Vignette
{
    width:30%;
}



.row
{
    background-color: darkgray;
   
  
}
/*text defillement*/
/*jvscript*/

#auto_text{
    font-size: 1em;
    margin: 0 auto;
    width: fit-content;
    border-right: 0.09em solid white;
    letter-spacing: 0.1em;
    animation: blink 0.99s step-end infinite;
}

 

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

.logo_mode
{
    text-align: center;
}

/*footer*/

.footer
{
    padding-top: 3%;
}